<main class="main">
    <molla-page-header title="Privacy" subtitle="Policy"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Shipping Policy</li>
            </ol>
        </div>
    </nav>

    <section id="second-about" class="policies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
               
                    <h2>Shipping Policy<span>.</span></h2>
                    <p>Cancellation of orders is possible only before the order is Invoiced for shipment. Once an order is Invoiced and Packed, it cannot be cancelled.
  No cancellations can be accepted for those products that have been ordered on special occasions. (These are limited occasion offers and therefore cancellations are not possible.)
   
  .</p>
  
                    <h2>Eligible Criteria For Product Return:</h2>
            
                    <ul>
                        <li>1.	If the product delivered is different from what was ordered or not as per the order specification.</li>
                        <li>2.	If the product was found in a physically damaged condition or was found defective when package opened.</li>
                        <li>3.	The return request must be initiated within 10 days from the date of receipt of shipment. To request a return, visit -> <a href="return-request.html">Return Request</a> Page. The request will, however, be entertained once the customer has checked and determined the same at his own end. This should be reported within 4 hours of receipt of the products.</li>
                        </ul>
  
      
                      <p>A product will not be eligible for return if the customer is not happy with the look/sound quality of a defect free product, a physical damage not notified within 4 hours of receiving the product, an electrical surge or any damage caused by the customer/user.
  The cost of return shipping will be borne by the customer.
   
  </p>
  
  
  <h3>Delivery Timeline</h3>
  <p>The Products shall be delivered within 2 – 07 working days. In case of unforeseen / unexpected delay, the same shall be intimated to you.</p>
  
                
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </div>
    </section>

</main>
