<main class="main">
    <molla-page-header title="Privacy" subtitle="Policy"></molla-page-header>
    <nav class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Privacy & Policy</li>
            </ol>
        </div>
    </nav>

    <section id="second-about" class="policies">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>What Do We Do With Your Information<span>?</span></h2>
                    <p>When you purchase something from our website/ portal, as part of the buying and selling process, we collect personal information, such as your name, address, and email address.</p>
                    <p>Further, we automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>
                    <p>Email marketing (if applicable): With your permission, we may send you emails about our store, new products, and other updates.</p>
                        
                    <h2>How do you get my consent<span>?</span></h2>
                    <p>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only. If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent or provide you with an opportunity to say NO.</p>
                    <p><b>How do I withdraw my consent?</b> You may withdraw your consent for us to contact you, for the continued collection, use, or disclosure of your information, at any time, by emailing us at grievance@geonix.in</p>
  
                    <h2>Disclosure<span>.</span></h2>
                    <p>We may disclose your personal information if we are required by law to do so or if you violate any of our Terms.</p>
  
                    <h2>Third-Party Services<span>.</span></h2>
                    <p>In general, the third-party providers used by us will only collect, use, and disclose your information to the extent necessary to allow them to perform the services they provide to us. However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies with respect to the information we are required to provide to them for your purchase-related transactions. For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers. Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</p>
  
                    <h2>Security<span>.</span></h2>
                    <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered, or destroyed.</p>
  
                    <h2>Changes To This Privacy Policy<span>.</span></h2>
                    <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. If our business is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</p>
  
                    <h2>Visitor Identification - Usage Of "Cookies"<span>.</span></h2>
                    <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
                        If our business is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</p>
  
                    <h2>Questions And Contact Information<span>.</span></h2>
                    <p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact us at grievance@geonix.in</p>
  
                </div>  
        </div>
        </div>
    </section>

</main>
