<header class="header header-intro-clearance header-3">

    <!-- <div class="header-top">
        <div [class]="containerClass">
            <div class="header-left">
                <a href="tel:#"><i class="icon-phone"></i>Call: +91 8920896230</a>
            </div>

            <div class="header-right">

                <ul class="top-menu">
                    <li>
                        <a href="javascript:;">Links</a>
                        <ul class="dropdown-links">
                            <div *ngIf="isTrue==false">
                                <li class="login"><a href="javascript:;" (click)="showLoginModal($event)">Sign in / Sign
                                        up</a></li>
                            </div>
                            <div *ngIf="isTrue==true">



                                <li class="login"><a href="javascript:;" (click)="onlogout()"><i
                                            class="fa-solid fa-arrow-right-from-bracket"></i>Sign out
                                    </a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->

    <div class="header-middle">
        <div [class]="containerClass">
            <div class="header-left">
                <molla-mobile-button></molla-mobile-button>

                <a routerLink="/" class="logo">
                    <img src="https://www.geonix.in/assets/images/geonix-logo.webp" alt="Molla Logo" width="105"
                        height="25">
                </a>
            </div>

            <molla-category-menu style="display: contents;"></molla-category-menu>

            <div class="header-center d-none d-lg-flex">
                <molla-header-search></molla-header-search>
            </div>

            <div class="header-right">
                <!-- <molla-compare-menu></molla-compare-menu> -->
                <div *ngIf="isTrue==true" class="account">
                    <a routerLink="/shop/dashboard" title="My account">
                        <div class="icon profile-icon">
                            <div class="icon"><i class="icon-user"></i></div>
                            <div class="user_name">
                                <p>Hi User</p>
                            </div>
                        </div>
                        <!-- <p>Account</p> -->
                    </a>
                </div>
                <molla-wishlist-menu></molla-wishlist-menu>

                <molla-cart-menu></molla-cart-menu>
            </div>
            <div class="login-buttons">
                <ul class="top-menu">
                    <li>
                        <a href="javascript:;" class="pl-4">Links <i class="fa-solid fa-caret-down"></i></a>
                        <ul class="dropdown-links">
                            <div *ngIf="isTrue==false">
                                <li class="login">
                                    <a href="javascript:;" (click)="showLoginModal($event)">Login</a>
                                </li>
                            </div>
                            <div *ngIf="isTrue==true">
                                <li class="login"><a href="javascript:;" (click)="onlogout()"><i
                                            class="fa-solid fa-arrow-right-from-bracket"></i>Sign out
                                    </a></li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sticky-wrapper" [style.height]="utilsService.isSticky? utilsService.stickyHeight + 'px' : '' ">
        <div class="header-bottom sticky-header" [class.fixed]="utilsService.isSticky">
            <div [ngClass]="containerClass">

                <div class="header-center">
                    <molla-main-menu></molla-main-menu>
                </div>

                <!-- <div class="header-right">
                    <i class="icon-medapps"></i>
                    <p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
                </div> -->
            </div>
        </div>
    </div>
</header>
