<div class="modalon-load">
	<ng-template #content let-modal>
			<div class="modal-body">
				<button type="button" class="btn-close" aria-label="Close"
				(click)="modal.dismiss('Cross click')">
				<i class="fa-solid fa-circle-xmark"></i></button>
				<div class="bodymain-div">
					<div class="row">
						<div class="col-sm-7">
							<img src="/assets/images/home/whitelogo.png" class="img-fluid popuplogo-image">
							<p class="oppupfirst-heading">by Subscribe our Newsletter</p>
							<h2>Get <span> 20% Off </span> Discount Coupon</h2>
							<p class="popuplast-discription">Get has been the industry's standard dummy text ever since the ey of type andmen offer book.</p>
							<div class="subscribe-input">
								<input type="text" placeholder="EMAIL ADDRESS"><button>Subscribe</button>
							</div>
						</div>
						<div class="col-sm-5">
							<img src="/assets/images/home/banners/12 A SIDE PNG1.png">
						</div>
					</div>
				</div>
			</div>
	</ng-template>
	<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
	<!-- <hr /> -->
</div>